//-------------------------------------------
//  Z-index
// ------------------------------------------
$z-indexes: (
  tooltip: 9000,
  alert: 8500,
  alert-overlay: 8400,
  dropdown: 8100,
  modal: 8000,
  overlay: 7000,
  header: 6000,
  footer: 5000,
  layer: 510,
  float: 1,
  hidden: - 1,
  overflowHidden: - 1,
  floating: 10000
);

// Useage: .modal {
//     z-index: z('modal');
//   }
@function z($layer) {
  @if not map-has-key($z-indexes, $layer) {
    @warn '$z-indexes 맵에서 `#{$layer}` 에 해당하는 layer를 찾지 못했습니다.';
  }

  @return map-get($z-indexes, $layer);
}
