#wrap {
  min-width: 1280px;
}

main {
  width: 100%;
  max-width: rem(1280px);
  margin:0 auto;
}

.main {
  padding-top: rem(110px);
}

.contents-wrap {
  position: relative;
  width: rem(1280px);
  margin: 0 auto;
}

/* IE 스크롤바 */
.scrollCustomize {
  overflow:auto; 
  scrollbar-arrow-color: #C2C2C2; 
  scrollbar-base-color: #C2C2C2;
  scrollbar-Face-Color: #C2C2C2;
  scrollbar-track-color: #F2F2F2; 
  scrollbar-DarkShadow-Color: #C2C2C2; 
  scrollbar-Shadow-Color: #C2C2C2; 
  scrollbar-Highlight-Color: #C2C2C2; 
  scrollbar-3dLight-Color: #C2C2C2;
}

/* Chrome, Safari 스크롤 바 */
.scrollCustomize::-webkit-scrollbar {
  width:6px;
}
.scrollCustomize::-webkit-scrollbar-button:start:decrement {
  display:block; 
  height:4px; 
}
.scrollCustomize::-webkit-scrollbar-button:end:increment {
  display:block; 
  height:4px;
}
.scrollCustomize::-webkit-scrollbar-thumb {
  border:none; 
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.scrollCustomize::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

// -------------------------
// 페이지 타이틀 영역 subject
// -------------------------

.contents-subject {
  width: 100%;
  padding: 0 0 $spacing-xl $spacing-xs ;
}

.subject {
  position: relative;
  width: 100%;

  .subject__title {
    display: block; 
    width: 100%; 
    padding:rem(30px) 0 rem(20px) 0; 
    @include font-size("32");
    line-height: rem(32px);
    color: $text-01; 
  }
  
  .subject__desc {
    display: block;
    padding:0 0 rem(30px) 0; 
    @include font-size("18");
    line-height: rem(18px); 
    color: $text-03; 
  }

}

.subject_sm {
  display: flex;
  align-items: baseline;
  margin-top: $spacing-lg;

  .subject__title {
    padding: 0; 
    @include font-size("32");
    @include font-weight("regular");
    color: $text-01;
    flex-shrink: 0;     
  }
  
  .subject__desc {
    padding: 0 0 0 $spacing-sm;
    height: rem(24px) ;
    @include font-size("14");
    color: $text-03;
    flex-grow: 1;
  }

  .subject__right {
    flex-shrink: 0;
    color: $text-02;
  }

}

.blit_essential {
  position: relative;
  padding: 0 rem(3px);
  @include font-size("12");
  color: transparent;

  &::before {
    content: " ";
    position: absolute;
    top: rem(1px);
    left: rem(3px);
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: $secondary;
  }
}


.contents-top {
  width: 100%;
  padding: 0 0 $spacing-xl 0 ;
}

.contents-top__search {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.contents-top__search .text-input-group--lg {
  input {
    position: relative; 
    width: 100%; 
    height: rem(60px); 
    line-height: rem(58px); 
    padding: 0 0 0 rem(60px); 
    outline: none; 
    box-sizing: border-box; 
    border: 1px solid $ui-04; 
    border-radius: rem(30px); 
    background: url(#{$img-path}/common/icon.png) no-repeat rem(5px) rem(-165px); 
    @include font-size("18");
    color: $text-01; 
  
    &:hover {
      border: 1px solid $secondary;
    }
    &:focus {
      border: 2px solid $secondary;
      background: url(#{$img-path}/common/icon.png) no-repeat rem(4px) rem(-166px);
      box-shadow: none;
    }
  }

  
}

.contents-top__search .text-input-group__clear-button {
  margin-right: rem(90px);
}

.contents-top__search .text-input-group__search-button {
  position:absolute; 
  top:50%; 
  right: 0; 
  width: rem(120px); 
  height: rem(60px); 
  outline: none; 
  box-sizing: border-box; 
  border:none; 
  border-radius: rem(30px); 
  background: $secondary; 
  color: $ui-02; 
  @include font-weight("bold");
  @include font-size("18");

  &:hover {
    background: $hover-secondary;
  }

  .svg-icon {
    display: none;
  }

}

.search-input-field__filter {
  position: absolute;
  top: rem(20px);
  right: rem(-130px);
}

.contents-top__search .contents-top__recommend {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: rem(800px);
  margin: 0 auto;

  h4 {
    flex-shrink: 0;
    padding: 0 rem(20px) 0 rem(30px); 
    @include font-size("12");
    @include font-weight("bold");
    color: $text-03; 
    line-height: rem(30px);
  }

  .tags {
    display: inline-block; 
    flex-grow:0;

    a + a {
      margin-left: rem(4px);
    }
  }

}

.contents-top__search .combo-box {
  border: 1px solid $ui-04;
  border-radius: rem(15px);
  top: rem(64px);

  .combo-box__title {
    background: none;
    padding: 0 rem(30px);
    @include font-size("14");
    @include font-weight("bold");
    color: $text-01;
    height: rem(50px);
  }
}


.contents-search-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $layout-md 0;
  @include font-size("20");
  @include font-weight("medium");
  word-break: break-all;


  strong {
    color: $secondary;
  }
}

.contents {
  width: 100%;
  max-width: rem(1280px);
  margin: 0 auto;
  display: flex;
  padding: 0 0 $layout-lg 0;

  aside {
    flex-shrink: 0;
    position: relative;
    width: rem(280px);
    height: 100%;
  }

  section {
    flex-grow: 1;
    position: relative;
    width: 100%;
  }
}


.contents__inner{
  width: rem(1280px);
  margin: 0 auto;
  padding: $spacing-lg 0;
}

.contents__sort{
  width: rem(1280px);
  margin: 0 auto;
  padding: $spacing-lg 0;
  display: flex;
  align-items: stretch;
}

// 검색 결과의 타이틀
.section-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin-bottom: $spacing-md;
}

.section-head h4 {
  @include font-size("20");
  margin-right: $spacing-sm;
  color: $text-01;
}

.section-head h4:after {
  z-index: z('float');
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: rem(2px);
  background-color: $text-01;
}

.section-head h4 * {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.section-head .section-head__options {
  margin-left: auto;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
}

.section-head h4 span {
  margin-left: $spacing-sm;
}

// 페이지 하단 버튼 그룹
.page__button {
  position: relative;
  margin: rem(80px) 0 rem(40px) 0;
  display: flex;

  .button__left {
    flex-shrink: 0;
    width: rem(300px);
    display: flex;
    * + * {
      margin-left: rem(10px);
    }
  }
  .button__center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    * {
      margin: 0 rem(5px);
    }
  }
  .button__right {
    flex-shrink: 0;
    width: rem(300px);
    display: flex;
    justify-content: flex-end;
    * + * {
      margin-left: rem(10px);
    }
  }
}

.button-declaration {
  position: relative;
  padding: 0 $spacing-xl;

  small {
    position: absolute;
    right: 0;
    top: 100%;
    color: $text-03;
    @include font-size("14");
    @include font-weight("regular");
  }
}

// .v--modal 스타일 변경
.v--modal {
  border-radius: rem(10px) !important;
}

// 오류신고 Dialog
.modal__body-head {
  
  h3 {
    @include font-weight("regular");
    @include font-size("24");
    color: $text-01;
    height: rem(30px);
    line-height: rem(30px);

    .svg-icon {
      fill: $text-01;
      width: rem(25px);
      height: rem(25px);
      margin: rem(-10px) rem(10px) 0 0;
    }
  }
  p {
    @include font-weight("regular");
    @include font-size("14");
    color: $text-03;
    height: rem(20px);
    line-height: rem(20px);
    margin: rem(10px) 0 rem(20px) 0;
  }
}

.modal__body-top {
  display: flex;
  align-items: center;
  margin: rem(32px) 0 rem(20px) 0;

  .body-top__left {
    flex-shrink: 0;
    margin-right: $spacing-xs;

    .select {
      width: rem(100px);
    }
  }

  .body-top__center {
    flex-grow: 1;
  }

  .body-top__right {
    flex-shrink: 0;
    margin-left: $spacing-xs;
  }
}

.modal__body-content {
  border-top: 2px solid $text-01;
}

.modal__body-item {
  display: flex;
  align-content: flex-start;
  padding: $spacing-sm 0;

  .item__title {
    flex-shrink: 0;
    @include font-weight("regular");
    @include font-size("14");
    color: $text-02;
    line-height: rem(18px);
    width: rem(110px);  
    word-break: break-all;  
  }

  .item__detail {
    flex-grow: 1;
    @include font-weight("medium");
    @include font-size("14");
    color: $text-01;
    line-height: rem(18px);
    word-break: break-all;
  }
}

// 텍스트 길이(byte) 표시
.text-area__byte {
  width: 100%;
  height: rem(18px);
  line-height: rem(18px);
  text-align: right;
  @include font-size("12");
  @include font-weight("regular");
  color: $text-03;
  
  strong {
    @include font-size("12");
    @include font-weight("bold");
    color: $secondary;
  }
}

.modal__body-item.bottom {
  padding-bottom: 0;
}

.modal__declaration {
  margin-top: $spacing-sm;
}

//제공기관 모달
.modal__provider {
  margin: 0;
}
.modal__provider-title {
  display: flex;
  border-bottom: 1px solid $text-01;
  div {
    text-align: center !important;
    height: rem(50px);
    line-height: rem(50px);
    position: relative;
  }
  div + div {
    &::before {
      content: "";
      width: 1px;
      height: rem(12px);
      background: $ui-05;
      position: absolute;
      top: rem(10px);
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
.modal__provider-list {
  display: flex;
  border-bottom: 1px solid $ui-04;
  align-items: center;
  height: rem(50px);

  &:hover {
    background: $ui-05;
  }
}
.modal__provider-name {
  flex-grow: 1;
  padding-left: rem(8px);
  text-align: left;
}
.modal__provider-badge {
  flex-shrink: 0;
  width: rem(80px);
  display: flex;
  justify-content: center;
}

.modal__pagination {
  margin-top: rem(30px);
}
/*
@include template-respond-to('breakpoint-lg') {
  .contents ,
  .contents-top__breadcrumb,
  .contents-search-result,
  .contents-top__search,
  .contents__inner,
  .contents__sort{
    width: 100%;
  }
}

@include template-respond-to('breakpoint-md') {
  .main {
    padding-top: rem(60px);
  }
}
*/
/* 화면 너비 0 ~ 1210px 
@media (max-width: 1210px) {
  .main {
    padding: rem(110px) rem(20px) 0 rem(20px);
  }

  .search-input-field__search {
    position: relative;
  }
  
  .search-input-field__filter {
    position: absolute;
    top: rem(16px);
    padding-right: rem(20px);
    display: flex;
    justify-content: end;
  }

}
*/
/* 화면 너비 0 ~ 1024px 
@media (max-width: 1024px) {
  
  .main {
    padding: rem(70px) rem(20px) 0 rem(20px);
  }

  .search-input-field__search {
    position: relative;
  }
  
  .search-input-field__filter {
    position: absolute;
    top: rem(16px);
    padding-right: rem(20px);
    display: flex;
    justify-content: end;
  }

  .contents aside {
    display: none;
  }

  .contents-top__search .contents-top__recommend {
    margin-top: rem(50px);
    display: flex;
    justify-content: center;
    width: 100%;
  
    h4 {
      font-size: 0;
      color: transparent;
    }

    .tags .tag {
      margin-bottom: rem(5px);
    }
  }

}
*/