.search-input-field {
  position: relative;
}

.search-input-field__inner {
  display: flex;
  align-items: center;
  padding: $spacing-2xs + $spacing-md;
}

.search-input-field__inner form,
.search-input-field__inner form fieldset {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input-field__search {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-input-field__search .text-input-group {
  flex: 1;

  & ~ * {
    margin-left: $spacing-xs;
  }
}

.search-input-field__filter {
  display: flex;
  align-items: center;

  & > * {
    margin-left: $spacing-xs;
  }
}


@include template-respond-to('breakpoint-lg') {

  .search-input-field__inner form fieldset {
    flex-direction: column;
  }

  .search-input-field__search,
  .search-input-field__filter {
    width: 100%;
  }

  .search-input-field__filter {
    margin-left: 0;
    margin-top: $spacing-xs;
  }
}
