.detail-filter {
  position: relative;
  padding: $spacing-md;
  margin-top: rem(35px);
}

.detail-filter__group{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & + & {
    margin-top: $spacing-md;
  }
}

.detail-filter__toggle-button{
  position: absolute;
  right: 0;
  bottom: calc(100% + 4px);
}

.detail-filter__title{
  @include text-overflow(80px);
  @include font-weight("regular");
  @include font-size("14");
  margin: 0 $spacing-sm $spacing-2xs 0;
  text-align: right;
}

.detail-filter__checkboxes{
  display: flex;
  flex-wrap: wrap;
}

.detail-filter .checkbox {
  margin: 0 0 $spacing-2xs $spacing-2xs;
}
